@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

img {
    max-width: 100%;
    border-radius: 7px;
}

.card {
    background: rgb(245,245,245);
    border-radius: 7px;
}

.card > div {
    margin: 18px;
}

.card_button {
    background: linear-gradient(to bottom, #2680C2, #4098D7);
    color: white;
    padding: 10px 14px;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-family: 'Roboto', sans-serif;
}

.card_button:hover {
    background: linear-gradient(to bottom, #0A558C, #0F609B);
}